.nbmCta {
  &__container {
    padding-left: var(--medium-2);
    padding-right: var(--medium-2);
    padding-top: var(--medium-4);
  }

  &__actionContainer {
    padding-top: var(--medium-3);
  }
}
