.nbmForum {
  &__title {
    text-align: center;
    padding-bottom: var(--small-4);
    padding-top: var(--small-4);
  }

  &__postContainer {
    padding-top: var(--small);
  }

  &__postContainer:last-child {
    padding-bottom: var(--small);
  }
}
